.formItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  font-weight: 700;
  color: #333333;
  margin-right: 10px;
  width: 150px; /* Adjust the width as needed */
}

.input,
.select,
.textarea {
  flex: 1;
  padding: 0.75em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: purple;
  outline: none;
}

.formItem {
  margin-bottom: 20px;
}

#description {
  height: 150px; /* Increased height for better visibility */
  resize: vertical; 
}

#description:focus {
  border-color: #007BFF;
  outline: none;
}
