.button{
    background-color: purple;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 4px 2px;
    padding: 5px ;
}

.button:hover {
  border-color: #b5b5b5;
}

.button:focus {
  outline: none;
  border-color: #363636;
  color: #363636;
  box-shadow: 0 0 0 0.125em rgba(156, 157, 161, 0.25);
}