.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  margin: 20px;
}

.createButton {
  background-color: purple;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 10px 2px;
  padding: 15px 30px; 
  font-size: 18px; 
  cursor: pointer; 
}

@media (prefers-reduced-motion:reduce) {
  .pageLink {
    transition: none
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid whitesmoke;
  gap: var(--card-gap);
  min-width: var(--card-min-width);
  width: min(var(--container-min-width), var(--container-max-width));
  margin: var(--grid-margin);
}

.errorMessage {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.errorBorder {
  border-color: red;
}