.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  justify-items: center;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0 2px 4px 4px;
}

.page {
  text-align: center;
}

.hide {
  display: none;
}

.button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .pageLink {
    transition: none;
  }
}

.root {
  height: 100%;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  padding-bottom: 0;
}

.price {
  margin-bottom: 0.5rem;
}

.media {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
