.App {
  background-image: url(https://img1.10bestmedia.com/Images/Photos/381016/1886-Crescent-Hotel---Spa_54_990x660.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
